.center{
    text-align: center;
}

/*TODO: Increase Transparency*/
.about-me{
    background-color: #ccffff;
}

.projects{
    background-color: #b3ffd9;
}

.title{
    padding: 50px 0px;
}
body{
    background-color: rgb(255, 255, 153,0.2);
}

.card{
    margin: 2px;
    border-radius: 15px;
}