.center{
    text-align: center;
}

/*TODO: Increase Transparency*/
.about-me{
    background-color: #ccffff;
}

.projects{
    background-color: #b3ffd9;
}

.title{
    padding: 50px 0px;
}
body{
    background-color: rgb(255, 255, 153,0.2);
}
.project{
    /*Set dimensions dynamically?*/
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 12px;
    display: inline-block;
}
.card{
    display: inline-block;
}